/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}

.container {
  line-height: 1.6rem;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

img {
    max-width: 100%;
    vertical-align: middle;
}





/**
 * Code formatting
 */
pre.highlight {
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    margin-bottom: 1rem;
    overflow-x: scroll;
}

code.highlighter-rouge {
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    font-size: 22px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


