body{
	background-color: #333;
	color: #ddd;
	font-size: 24px;
}
h1{margin-bottom: 2rem;}
.container{
	padding: 3rem 10%;
	img{
		width : 60%;
		padding: 0 20%;
	}
}
small{
	font-size: 0.5em;
}

hr{
	visibility: hidden;
	margin-top: 10px;
	margin-bottom: 80px;
}

footer{
	border-top: 1px dashed #ddd;
	background-color: #333;
	position: fixed;
	padding: 20px 0;
	bottom:0;
	width:100%;
	text-align: center;
}

#socials{
	width:80%;
	margin: auto;
	text-align:justify;
}
.social{
	display: inline-block;
	text-align: center;
	font-size: 3rem;
	&.last{width:100%}
}

a{
	text-decoration: none;
}

p{
	margin-bottom: 1em;
}

.pagination{
	margin-top: 30px;
	text-align: center;
}


.close{text-align: center;}
.slide{
	h3{margin: 5px 0;}
	h3, .close{
		cursor:pointer;
		&:active{text-shadow: white 0 0 1px;}
	}
	border-top: 1px solid #666;
	&:first-child{border-top:0;}
	border-bottom: 1px solid #666;
	.content{display:none;padding-bottom:30px;}
}



@media screen and (max-width: 880px){
	.container{
		padding: 3rem 5px;
		img{
			width: 90%;
			padding:0 5%;
		}
	}
}